body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
  to bottom,
  #0C0D45 10%,
  #3E5BA3 35%,
  #75CBD1 55%,
  #F2D2FF 80%,
  #DAE8FB 100%
  );
  font-family: cursive;
font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
}
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.home-icon {
  font-size: 35px;
  color: white;
  text-decoration: none;
}
.entries {
  text-align: center;
}

.entry {
  margin: 20px;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 10vw;
  font-family: cursive;
  font-weight: bold;
  color: #D6E7EF;
  transform: rotate(-7deg);
  margin-bottom: 5px;
  transform: translateY(-60px) rotate(-7deg);
}

h2 {
  font-size: 20px;
}

a {
  color: black;
}
.stars span {
  position: fixed;
  color: white;
  font-size: 24px;
  text-shadow: 0 0 8px white;
  animation: twinkle 1.5s infinite alternate;
}

.stars span:nth-child(1) {
  top: 15%;
  left: 10%;
}

.stars span:nth-child(2) {
  top: 30%;
  left: 80%;
}

.stars span:nth-child(3) {
  top: 50%;
  left: 25%;
}

.stars span:nth-child(4) {
  top: 65%;
  left: 70%;
}

.stars span:nth-child(5) {
  top: 80%;
  left: 15%;
}

.stars span:nth-child(6) {
  top: 20%;
  left: 50%;
}

@keyframes twinkle {
  from {
    opacity: 0.3;
    transform: scale(0.6);
    text-shadow: 0 0 3px white;
  }

  to {
    opacity: 1;
    transform: scale(1.4);
    text-shadow: 0 0 15px white;
  }
}
